:root {
    --title-color-: #5345c1;
    --key-color-: #0245c1;
    --text-color-: #333;
    --navbar-color-: #f7c54b;
    --title-text-: #e3aa04;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}


* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 890px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid_row {
    display: flex;
    flex-wrap: wrap;
}